.flex-container, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-container {
    top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -100;
}

#row {
    flex:2;
    display: flex;  
}
#col1 {
    background-color: var(--altcolor);
    flex: 1 1;
    min-height: 100%;
}
#col2 {
    background-color: var(--maincolor);
    flex: 0.40 1;
    min-height: 100%;
}

#triangle {
    width: 100%;
    height: 100%;
    background-color: var(--altcolor);
    clip-path: polygon(0 0, 100% 100%,0 100%);
}

#col3 {
    background-color: var(--maincolor);
    flex: 1 1;
    min-height: 100%;
}

@media screen and (max-width:850px)
{
    #col1 {
        display: none;
    }
    #col2 {
        display: none;
    }
    #col3 {
        display: none;
    }
}