#login_col1 {
    flex: 1 1;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#login_col2 {
    flex: 0.40 1;
    min-height: 100%;
}
#login_col3 {
    flex: 1 1;
    min-height: 100%;
}

.login {
    width: 60%;
    border: 3px black;
	margin: auto;
    text-align: center;
}
.login h1{
    text-align: center;
    font-weight: lighter;
}
.login_all {
    height: 280px;
}
.login_head {
    background-color: var(--maincolor);
    height: 80px;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.login_content {
    background-color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login .line{
    padding: 0px;
}
.lower {
    display: flex;
}
.inline {
	display: inline-block;
	width: 50%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 1px;
}

input[type=text], input[type=password]{
	width: 100%;
    padding: 12px 10px;
    margin: 3px 0;  
    display: inline-block;
    border: 2px solid var(--maincolor);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=text]:focus, input[type=text]:hover {
    border: 2px solid #0a967f;
}

input[type=submit] {
    width: 100%;
    height: 34px;
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
    font-size: 1rem;
}

input[type=submit]:hover {
    background-color: #0a967f;
}

.inline a{
    float: left;
    text-decoration: underline;
    color: var(--maincolor);
    font-size: 2em;
    padding-left: 10px;
}

.inline a:hover{
    color: #0a967f;
}

#kiiras {
    margin: 10px;
    text-align: center;
    color: red;
}

@media screen and (max-width:850px)
{
    #login_col2 {
        display: none;
    }
    #login_col3 {
        display: none;
    }
}