:root{
    --maincolor: #0ca78e;
    --altcolor: #F9F9F9;
    --navcolor: #9F9F9f;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
}

.full {
    top: 0;
    display:block;
}

.nav_row {
    flex:2;
    display: flex;
}
.info_coll {
    flex: 1 1;
    min-height: 100%;
}
.menu_coll {
    flex: 1 1;
    min-height: 100%;
}

.nav_row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_coll {
    padding: 0;
}

.info {
    display: flex;
    justify-content: center;
}

.usermenu {
    border: none;
    display: block;
    background: unset;
    cursor: pointer;
}

.usermenu p {
    margin: 0 0 5px;
    color: var(--navcolor);
}

.userimg {
    float: left;
    margin-right: 10px;
}

.userimg img {
    height: 40px;
    width: auto;
    object-fit:cover;
    border-radius:50%;
    border: 2px solid grey;
}

.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
}

#dropdown {
    display: none;
    justify-content: center;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

#dropdown a {
    color: var(--navcolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.usermenu:hover .dropdown{
    display: block;
}

.usermenu:hover .dropbtn {
    background-color: #3e8e41;
}

nav .menu_coll {
    padding: 15px;
}

nav .menu_coll a {
	color: white;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
}