:root {
	--color1: White; 	
		/* header-back, nav-color, nav-a-color, nav-a-hover-back, main-back, #up-border, up-hover-back */
	--color2: PowderBlue; 
		/* body-back, main-a-hover-back, footer-color */
	--color3:	Gray; 
		/* nav-back, footer-a-color */
	--color4: DarkGray;
		/*  */
	--color5:	Black; 
		/* .full-box-shadow, footer-back, h1-text-shadow, h2-color */
	--color6: Blue; 
		/* nav-a-hover-color, main-a-color, footer-a-hover-color, h1-color, h2-text-shadow, #up-color */
	--color7: #008; 
		/* header-color */
}

* { box-sizing: border-box;}
body {
	background-color: var(--color2); 
	background-image: url(../img/backImage.png); 
	background-attachment: fixed;
	font-family: Verdana;
}
a { 
	text-decoration: none;
	padding: 3px 10px;
	border-radius: 3px;
	font-variant: small-caps;}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.full { 
	box-shadow: 0 0 10px var(--color5);
	width: 95%;
	max-width: 800px;
	margin:auto;
	width: 100%;
	background-color: var(--color2);
}
header { background-color: var(--color1);
	width: 100%;
	margin: auto;
	padding: 20px;
	overflow: auto;
	color: var(--color7); }
nav { background-color: var(--color3);
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 20px;
	margin: 5px 0 5px 0;
	color: var(--color1); }
nav ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li { padding-bottom: 5px; }
.elvalaszto { display: none; }
nav a { color: var(--color1); }
nav a:hover { background-color: var(--color1); color: var(--color7); }
main { background-color: var(--color1);
	width: 100%;
	margin: auto;
	padding: 20px; 
	overflow: auto;}
main a { color: var(--color6); }
main a:hover { background-color: var(--color2); }
footer { width: 100%;
	margin: auto;
	text-align: center;
	background-color: var(--color5);
	margin-top: 5px;
	padding: 20px;
	color: var(--color2); }
footer div {display: inline;}
footer div.autor { float:left;}
footer div.link { float: right;}
footer a { color: var(--color3); }
footer a:hover { color: var(--color6);}
h1 { color: var(--color7);
	text-shadow: 1px 1px 1px var(--color5); }
h2 { text-align: center; 
	color: var(--color5);
	text-shadow: 1px 1px 1px var(--color6); }
#up {
	position: fixed;
	right: 10px;
	bottom: -5px;
	color: var(--color5);
	background-color: var(--color3);
	/*border: 2px var(--color3) solid;*/
	height: 40px;
	width: 40px;
	font-weight: bold;
	line-height: 20px;
	padding: 10px;
	border-radius: 5px; }
#up:hover {
	color: var(--color5);
	background-color: var(--color2);
}

@media screen and (min-width:600px)
{
	.full { width: 95%; max-width: 800px; border: 2px var(--color4) solid;}
	nav ul li { display: inline-block; }
	.elvalaszto { display: inline; }
	/*#up { display: none; }*/
}
