table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--altcolor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
    border-radius: 10px;
}

#tables {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

table td {
    background-color: white;
}

th {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tables tr {
    display: inline-block;
    border: none;
    text-align: left;
    text-decoration: none;
    color: var(--maincolor);
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
}

td{
    color: var(--maincolor);
    border: 1px solid #ddd;
    padding: 15px;
}

.ttables th {
    background-color: white;
    color: var(--maincolor);
    border: 1px solid #ddd; 
    padding: 15px;
}

#tbar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
}

#honap, #tatlag {
    width: 20%;
}

#jegyek {
    width: auto;
}

#jegyek span {
    margin-right: 5px;
}

#tnev{
    min-width: 140px;
    position: sticky;
    z-index: 10;
    left: 0;
}

#tatlag{
    min-width: 100px;
    position: sticky;
    z-index: 10;
    right: 0;
}

#tjegy, .tjegy{
    min-width: 120px;
}

.jegy {
    display: inline-block;
}

.tooltip{
    visibility: hidden;
    width: 200px;
    background-color: #F9F9F9;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    
    /* fix rész */
    position: absolute;
    margin-top: -200px;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-jegy {
    float: left;
    font-size: 40px;
    margin-right: 5px;
}

.tooltip-info {
    padding-left: 5px;
    float: left;
    border-left: 2px solid #00bda5;
}

#modtantargy {
    float: left;
    vertical-align: middle;
    color: var(--altcolor);
    font-size: 20px;
}

.tshow {
    visibility: visible;
    transition: opacity 0.5s;
    opacity: 1;
}

.opened {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: var(--altcolor) !important;
    background-color: var(--maincolor) !important;
}

.open {
    display: table !important;
}

.collapse {
    width: 75%;
    margin: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
}

.collapse table {
    width: 100%;
}

.active {
    max-height: 990px;
    transition: max-height .5s;
}

@media screen and (max-width:850px)
{
    #tables {
        width: 100%;
    }
    .collapse {
        width: 100%;
    }
    #tnev{
        min-width: 0px;
    }
    
    #tatlag{
        min-width: 0px;
        position: static;
    }
}